

  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Advanced Engineering
  </label>

  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Aerospace
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Agriculture, Horticulture and Fisheries
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Airports
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Automotive
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Biotechnology and Pharmaceuticals
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Business (and Consumer) Services
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Chemicals
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Clothing, Footwear and Fashion
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Communications
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Construction
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Creative and Media
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Defence
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Defence and Security
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Education and Training
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Electronics and IT Hardware
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Energy
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Environment
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Financial Services (including Professional Services)
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Food and Drink
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Giftware, Jewellery and Tableware
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Global Sports Projects
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Healthcare and Medical
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Household Goods, Furniture and Furnishings
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    ICT
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Leisure and Tourism
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Life Sciences
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Marine
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Mass Transport
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Mechanical Electrical and Process Engineering
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Metallurgical Process Plant
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Metals, Minerals and Materials
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Mining
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    More Sectors
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Oil and Gas
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Ports and Logistics
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Power
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Railways
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Renewable Energy
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Retail
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Security
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Software and Computer Services Business to Business (B2B)
  </label>
  <label class="facet-value-label">
    <input class="facet-option" name="doc_type" type="checkbox" value="company">
    Software and Computer Service
  </label>