// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

#event-notes {
  height: 8rem;
}
.login-bar {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    line-height: 2.0;
    border-bottom: 1px solid #bfc1c3;
    overflow: hidden;
    padding: 0.5em 0 0.25em 0;
}
.login-bar .login-links {
    margin: 0;
    padding: 0;
}
.login-bar .login-links-left {
    float: left;
    margin-left: -0.5em;
}
.login-bar .login-links a {
    margin: 0 0.5em;
}
.login-bar .login-links-right {
    margin-right: -0.5em;
    float: right;
    text-align: right;
}

#global-header-bar,
.phase-banner .phase-tag.phase-demo {
  background-color: #debc99;
}

.searchbar .searchbar__wrapper {
    margin: 20px 0 25px;
    position: relative;
    background: #fff;
}
.searchbar .searchbar__label {
    display: none;
}
.searchbar .searchbar__input {
    box-sizing: border-box;
    font-size: 1em;
    width: 100%;
    padding: 6px 15px;
    margin: 0;
    z-index: 3;
    background: transparent;
    position: relative;
    border-right: 0;
    line-height: 34px;
    border-radius: 0;
    -webkit-appearance: none;
    text-overflow: ellipsis;
}
.searchbar .searchbar__submit {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    border: 0;
    text-indent: -5000px;
    color: #fff;
    cursor: pointer;
    background: #005ea5 url(../images/search-button.png) no-repeat 8px 50%;
    border-radius: 0;
}


.dashboard-section:first-child {
    margin-top: 1.5em;
}

.dashboard-section .dashboard-section-title {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    margin: 20px 0;
}

@media (min-width: 641px){
  .form-control {
      width: 66.666%;
  }
  .searchbar .searchbar__wrapper {
    margin: 30px 0;
  }

  .dashboard-section {
      font-size: 16px;
      line-height: 1.25;
  }

  .dashboard-section {
      border-top: 5px solid #0b0c0c;
      font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
      font-weight: 400;
      text-transform: none;
      font-size: 14px;
      line-height: 1.14286;
  }

  .dashboard-section .dashboard-section-title {
      font-size: 24px;
      line-height: 1.25;
  }



}
