{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_demo.html" %}

	{% include "includes/login_bar.html" %}

	<div class="container">


		<form class="searchbar"
		action="/search"
		method="get"
		role="search">
		<div class="searchbar__wrapper">
			<label class="searchbar__label" for="search-term">Search for company name or contact</label>
			<input class="searchbar__input form-control"
			id="search-term"
			type="search"
			name="term"
			value=""
			placeholder="Search for company name or contact"
			/>
			<input class="searchbar__submit" type="submit" value="Search" onclick="return false;" />
		</div>
	</form>

	<div class="grid-row dashboard">

		<div class="column-half">
			<div class="dashboard-section">
				<h2 class="dashboard-section-title">Interactions</h2>


				<p class="dashboard-section-intro">
					No interactions have been added in the last 15 days
				</p>

			</div>
		</div>

		<div class="column-half">

			<div class="dashboard-section">
				<h2 class="dashboard-section-title">Contacts</h2>



				<p class="dashboard-section-intro">
					No contacts have been added in the last 15 days
				</p>



			</div>

		</div>
	</div>

</div>
</main>

{% endblock %}

